.NavigationItems {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

.NavigationItems li {
    padding: 0.5rem 0;
}

.NavigationItems a {
    color: #dd0707;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    font-weight: 400;
    font-size: large;
}

.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active {
    cursor: pointer;
    color: #00398a;
}
