.HomePageContent {
  position: absolute;
  top: 5rem;
  left: 5%;
}

.HomePageList {
  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .HomePageList {
    padding: 0;
    margin: 0;
  }
  .HomePageContent {
    top: 2rem;
    left: 10%;
  }
}
